.env
*.env
.env*
*.env*
!sample.env

# JS
node_modules

# Go
/vendor

# IDE
*.iml
.idea
.vscode

# OS
.DS_Store

# Misc
*.db
*.db-shm
*.db-wal
cache/
build/

.terraform.lock.hcl
.terraform

.github/workflows/example-build-gatus.yml

infra.tf
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.lock.info
.terraform.tfstate.lock.info